*, *::after, *::before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 100%;
}

body {
    background-color: rgb(185, 185, 185);
}

h1 h2 {
    text-transform: capitalize;
}

#main-wrapper {
    z-index: 2;
    position: relative;
    overflow: hidden;
}

.wrapper {
    margin-left: 0 auto;
}

nav {
    max-width: 75%;
    margin: 0 auto;
    margin-bottom: 0;
    padding: 10px 0;
}

nav ul {
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(208, 208, 208, .90) 25%, rgba(208, 208, 208, 0.90) 75%, rgba(255, 255, 255, 0) 100%);
    width: 100%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: 20px;
    font-family: "Roboto";
    color: rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
    font-size: 25px;
    text-decoration: none;
    display: block;
}

nav ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
}

nav ul li a:visited {
    text-decoration: none;
}

.navbar-inner .home-link {
    background: url(/assets/images/mypicture.jpg);
    width: 78px;
    height: 64px;
    display: block;
    float: left;
    margin: 10px 10px;
    background-size: 100%;
    border-radius: 75%;
}

.intro {
    height: 100vh;
    text-align: center;
}

.intro .bg-image {
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100vh;
    z-index: -1000;
    opacity: .75;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 75px;
}

.title {
    margin-bottom: 25px;
    color: #43997e;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 6rem;
}

.subtitle {
    color: #43997e;
    font-weight: bold;
    font-family: Papyrus, fantasy;
    font-size: 2rem;
}

.about-me {}

.about-me .summary {
    font-weight: 500;
    font-size: 1.25rem;
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}

.portfolio {
    position: relative;
}

.portfolio .bloc-chat {
    margin-bottom: 20px;
    max-height: 500px;
    background-color: #678a66;
    box-shadow: 10px 10px 5px #888888;
}

.portfolio .bloc-chat .chat-img {
    background: url(/assets/images/blocchat.png) no-repeat center center;
    background-size: contain;
    height: 500px;
}

.portfolio .bloc-chat .chat-study {
    font-family: sans-serif;
    font-weight: bold;
    height: 500px;
    overflow: auto;
}

.portfolio .bloc-jams {
    margin-bottom: 20px;
    max-height: 500px;
    background-color: #94bf92;
    overflow: hidden;
    box-shadow: 10px 10px 5px #888888;
}

.portfolio .bloc-jams .jams-img {
    background: url(/assets/images/blocjams.png) no-repeat center center;
    background-size: contain;
    height: 500px;
}

.portfolio .bloc-jams .jams-study {
  font-family: sans-serif;
  font-weight: bold;
  height: 500px;
  overflow: auto;
}

iframe {
    display: block;
    margin: 100px auto;
}
