<!DOCTYPE html>
<div class="container-fluid">
    <div class="row">
        <header class="col-xs-12 intro">
            <img src="/assets/images/coffee-laptop.jpg" class="landing-image" />
            <div class="row header">
                <div class="col-xs-12">
                    <h1 class="title">David Sires</h1>
                    <span class="subtitle">Full Stack Web Developer</span>
                </div>
            </div>
        </header>
        <main class="col-xs-12">
          <div class="row">
          <section class="col-xs-12 aboutMe" id="about">
            <div class="row">
            <div class="col-xs-12 title">
              <h3>About Me</h3>
            </div>
            <div class="col-xs-12 summary">
              <p>
                I have a Bachelor of Science in Information Technology, with an Advanced Software
                Developer Certificate. I completed this degree in March of 2016. I am also
                continuing to learn and better myself as a front-end developer moving
                towards full-stack web developer. My journey has brought me to enroll at
                Bloc Coding boot-camp a program that has allowed me to learn by developing in a
                real world type of scenarios, but I also feel that I have so much more to learn.
              </p>
              <p>
                I am very passionate about learning to develop, everyone uses the web and
                applications for all sorts of things and being a web developer I will be an
                architect that gives people the tools they need to explore, communicate, and create
                through any medium they choose.
              </p>
            </div>
          </div>
        </div>
          </section>
            <section class="col-xs-12" id="works">
                <div class="portfolio">
                    <img src="/assets/images/blocchat.png" />
                </div>
            </section>
          </div>
        </main>
    </div>
</div>
