<!DOCTYPE html>
<div class="container-fluid">
    <div class="row">
        <header class="col-xs-12 intro">
            <img src="/assets/images/coffee-laptop.jpg" alt="backgroundImage" class="bg-image" />
            <div class="row header">
                <div class="col-xs-12">
                    <h1 class="title">David Sires</h1>
                    <div class="subtitle">Full Stack Web Developer</div>
                    <div class="info-links">
                      <a href="https://github.com/kyrosds" target="_blank"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
                      <a href="linkedin.com/in/davidsires" target="_blank"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a> 
                    </div>
                </div>
            </div>
        </header>
        <main class="col-xs-12">
            <div class="row">
                <section class="col-xs-12 about-me" id="about">
                    <div class="row">
                        <div class="col-xs-12 title">
                            <h2>About Me</h2>
                        </div>
                        <div class="col-xs-12 summary">
                            <p>
                                I have a Bachelor of Science in Information Technology, with an Advanced Software Developer Certificate. I completed this degree in March of 2016. I am also continuing to learn and better myself as a front-end developer moving towards full-stack web developer.
                                My journey has brought me to enroll at Bloc Coding boot-camp a program that has allowed me to learn by developing in a real world type of scenarios, but I also feel that I have so much more to learn.
                            </p>
                            <p>
                                I am very passionate about learning to develop, everyone uses the web and applications for all sorts of things and being a web developer I will be an architect that gives people the tools they need to explore, communicate, and create through any medium
                                they choose.
                            </p>
                        </div>
                    </div>
                </section>
                <section class="col-xs-12" id="works">
                    <div class="row">
                        <div class="col-xs-12 title">
                            <h2>Portfolio</h2>
                        </div>
                        <div class="col-xs-12 portfolio">
                            <div class="col-xs-12 bloc-chat">
                                <div class="col-xs-12 col-sm-6 chat-img">
                                </div>
                                <div class="col-xs-12 col-sm-6 chat-study">
                                    <h3>Explanation</h3>
                                    <p>Chat room application that is updated in real-time using Firebase database. This application allows you to create a new room or join and existing room and communicate with the other people that are also logged into
                                        the chat room.
                                    </p>
                                    <h3>Results</h3>
                                    <p>The results of the application is functional chat room application that displays everything as it was intended.</p>
                                    <p>The program is also available to view on its own website:
                                        <a href="https://david-bloc-chat.herokuapp.com/" target="_blank">Bloc Chat Project</a></p>
                                    <h3>Conclusion</h3>
                                    <p>The following was accomplished within this project:
                                        <ul>
                                            <li>Created functional code through HTML, CSS, and JavaScript.</li>
                                            <li>Used the AngularJS framework throughout the project.</li>
                                            <li>Used Firebase platform to develop a fully functional chat room application.</li>
                                            <li>Deployed the project to a cloud based platform allowing for access to the project from anywhere.</li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                            <div class="col-xs-12 bloc-jams">
                                <div class="col-xs-12 col-sm-6 jams-img">
                                </div>
                                <div class="col-xs-12 col-sm-6 jams-study">
                                    <h3>Explanation</h3>
                                    <p>This music player stores all of your albums and allows you to stream your music through the built in player.</p>
                                    <h3>Results</h3>
                                    <p>The final product consisted of a completed and refactored program that played the music of the selected album, allowing the user to switch from song to song, adjust the volume, and move to different places in the music
                                        track from within the music player.</p>
                                    <p>This project is available at this website:
                                        <a href="http://david-bloc-jams-angular.herokuapp.com/" target="_blank">Bloc Jams</a>
                                        <h3>Conclusion</h3>

                                        <p>The following tasks were accomplished within the project:
                                            <ul>
                                                <li>Created functional code through HTML, CSS, and JavaScript</li>
                                                <li>Re-factored the original code from JQuery into AngularJS</li>
                                                <li>The music player functioned as it was intended per the curriculum instructions</li>
                                                <li>Deployed the project to a cloud based platform allowing for access to the project from anywhere.</li>
                                            </ul>
                                        </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
    </div>
</div>
